body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#title {
    display: flex;
    justify-content: center;
}

#description {
    display: flex;
    justify-content: center;
}

#description p {
    margin-top: 0px;
}

#control-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border: 2px solid black;
    background-color: #dfd4c6;
    margin: 20px;
    padding: 20px;
    max-width: 750px;
    width: 100%;
    flex-shrink: 1;
    flex-basis: 61px;
    align-self: center;
}

#selectionButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.playerSelection {
    min-width: 100px;
    flex-shrink: 0;
    background-color: #4db2ec;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid white;
}

#results-bar {
    background-color: lightgrey;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    max-width: 750px;
    width: 100%;
    flex-shrink: 1;
    align-self: center;
}

#scoreboard {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}


#userScore, #statistics, #computerScore {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid black;
    padding-bottom: 15px;
}

.statGroup {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
}

.statGroup h5 {
    margin: 0px; 
}

.statGroup h4 {
    margin: 5px; 
}